APP_URL=https://id.example.com

# Replica 1
REPLICA1_BUCKET=CHANGEME
REPLICA1_ENDPOINT=ams3.digitaloceanspaces.com
REPLICA1_REGION=ams3
REPLICA1_ACCESS_KEY_ID=CHANGEME
REPLICA1_SECRET_ACCESS_KEY=CHANGEME

# Replica 2
REPLICA2_BUCKET=CHANGEME
REPLICA2_ENDPOINT=nbg1.your-objectstorage.com
REPLICA2_REGION=nbg1
REPLICA2_ACCESS_KEY_ID=CHANGEME
REPLICA2_SECRET_ACCESS_KEY=CHANGEME
